In [15]:
b=5
while(b>0):
    a=b
    while(a>0):
        print(a,end=' ')
        a=a-1
    print("\n")
    b=b-1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

use of loops to print square

In [33]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n,end=' ')
        j=j+1
    print()
    i=i+1

 4

4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

In [36]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

 4

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [37]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

 4

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [3]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

 4

* * * *
* * * *
* * * *
* * * *

In [43]:
n=int(input())
i=1
while(i<=4):
    j=4
    while(j>0):
        print(j,end=' ')
        j=j-1
    print()
    i=i+1

 4

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

use of loops to print triangle type 1

In [1]:
i=1
p=i
while (i<=5):
    j=1
    while(j<=i):
        print(p,end=' ')
        p=p+1
        j=j+1
    print()
    i=i+1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n=int(input("Enter no. of rows : ")
i=1
while (i<=n):
    j=1
    while()
    while(j<=i):
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

In [64]:
i=1
while (i<=4):
    j=1
    while(j<=i):
        print(j+i-1,end=' ')
        j=j+1
    print()
    i=i+1

1
2 3
3 4 5
4 5 6 7

In [67]:
i=1
p=i
print(p)
j=j+1
p=p+1

1

In [11]:
n=int(input())
i=n
while(i>0):
    j=i
    while(j>0):
        print("*", end=' ')
        j=j-1
    print()
    i=i-1

 5

* * * * *
* * * *
* * *
* *
*

In [13]:
n=int(input())
i=n
k=1
while(i>0):
    j=i
    while(j>0):
        print(" ", end=' ')
        j=j-1
    
    while(k<n):
        print("*", end=' ')
        k=k+1
    print()
    i=i-1

 5

          * * * *